*, *::before, *::after {
    box-sizing: border-box;
  }
  /* 2. Remove default margin */
  * {
    margin: 0;
    padding: 0;
  }
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

@font-face {
    font-family: Norse-Bold;
    src: url(../fonts/Norse-Bold.otf);
}



main {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.background-container {
    background-image: url("../img/keshan-jalota-3xAC6_RZBKw-unsplash.jpg");
    width: 40vw;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

    
}


.form-container {
    display: flex;
    width: 60vw;
    border: 1px solid red;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
}

.form-container div {
    border: 1px solid black;
}

.advertise {
    padding: 20px;
    
}





